body {
    background-color: #EFF0F1;
    font-family: source-sans-pro, sans-serif;
  }
  h1 {
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: #ffffff;
  }
  input:focus {
    outline: none;
  }